@media print {
	button {
		display: none !important;
	}
	.navbar-nav {
		display: none !important;
	}
	a {
		text-decoration: none !important;
	}
	.scroll-to-top {
		display: none !important;
	}
	input {
		display: none !important;
	}
	.alert {
		display: none !important;
	}
	#btDelete {
		display: none !important;
	}
}
